/*
Colors used:
Primary Color (White): #ffffff;
Secondary Color (Pink): #fbf2ef;
#EFBFBB
*/


body {
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0%;
  }



header,.hero,footer{
  padding-left:15%;
  padding-right:15%;
  background-color: #121212;
}

.hero{
  padding-top: 5%;
  padding-bottom: 5%;
}

.divproject{
  margin-left:15%;
  margin-right:15%;
}

.divcontent{
  margin-left:25%;
  margin-right:25%;
  background-color: #FAFAFA;
}

  h1, h2, h3, h4, h5{
    line-height: 1.4;
  }

  h1 {
    color: #FAFAFA;
    font-size: 2.55em;
    font-weight: 500;
  }
  
  .h1italic{
    color: #121212;
    font-weight: 500;
    font-style: italic;
    background-color: #fbf2ef;
  }

  .h1italic:hover{
    text-decoration: underline;
  }
  
  .h1underline{
      text-decoration:underline;
      text-decoration-color:#EFBFBB;
  }

  h2 {
    font-size: 2em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.2em;
    font-weight: 600;
  }
  h4 {
    font-size: 1em;
    font-weight: 500;
  }

  h5{
    font-size: 1em;
    font-weight: 400;
    font-family: "office code pro";
  }

  h6{
    font-size: 0.75em;
    font-weight: 400;
    font-family: "office code pro";
    line-height: 1;
  }


  .texttag{
    font-size: 0.75em;
    font-family: "office code pro";
    color: #fbf2ef;
    font-weight: 400;
 }
  p{
    font-size: 0.95em;
  }

.section_hi{
    background-color: #121212;
}

.nav{
    display:flex;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

li{
    text-decoration: none;
    display: block;
}
a{
  text-decoration: none;
}

.navibutton{ 
  display: inline-block;
  color:darkgray;
  padding: 10px;
}

.navibutton:hover{ 
  color: #ffffff;
}

.coverimg{
    width: 100%;
    height: auto;
    max-width: 540px;
}

.img1{
  width: 100%;
  height: auto;
  max-width: 800px;
}


footer{
    display: flex;
    justify-content:space-between;
}


.divskill{
    display: flex;
}
.skilllist{
display: list-item;
}

.shenyu_photo{
    max-width: 100px;
}

