/*
Colors used:
Primary Color (Lightgrey): #fafafa; (Black): #121212;
Secondary Color (Pink): #fbf2ef;
#EFBFBB
*/

* {
  box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0%;
  }

header, footer, #hero, #projects{
  padding-left:10%;
  padding-right:10%;
}
header{
  background: linear-gradient(180deg, #FBF2EF 0%, #FAFAFA 100%);
  position: fixed;
  width: 100%;
}

footer{
  padding-top: 10%;
  background: linear-gradient(180deg, #FAFAFA 0%, #FBF2EF 100%);
}

#hero{
  padding-top: 10%;
  display: inline-block;
}



#projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  padding-top: 10%;
  padding-bottom: 5%;
}

#about, #skill{
  padding-top: 10%;
  margin-left:25%;
  margin-right:25%;
}

.divoneproject{
  display: inline-block;
}

#projectContent{
  margin-left:25%;
  margin-right:25%;
  background-color: #FAFAFA;
}

  h1, h2, h3, h4, h5{
    line-height: 1.4;
  }

  h1 {
    color: black;
    font-size: 2.2em;
    font-weight: 500;
  }
  
  .h1italic{
    color: black;
    font-weight: 500;
    font-style: italic;
    background-color: #fbf2ef;
  }

  .h1italic:hover{
    text-decoration: underline;
  }
  
  .h1underline{
      text-decoration:underline;
      text-decoration-color:#EFBFBB;
  }

  h2 {
    font-size: 2em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.2em;
    font-weight: 600;
  }
  h4 {
    font-size: 1em;
    font-weight: 500;
  }

  h5{
    font-size: 1em;
    font-weight: 400;
    font-family: "office code pro";
  }

  h6{
    font-size: 0.75em;
    font-weight: 400;
    font-family: "office code pro";
    line-height: 1;
  }


  .texttag{
    font-size: 0.75em;
    font-family: "office code pro";
    font-weight: 400;
 }
  p{
    font-size: 0.95em;
  }

.section_hi{
    background-color: #121212;
}

.nav{
    display:flex;
    justify-content: flex-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

li{
    text-decoration: none;
    display: block;
}
a{
  text-decoration: none;
}

.navibutton{ 
  display: inline-block;
  color:black;
  padding: 10px;
}

.navibutton:hover{ 
  color: darkgray;
}

.coverimg{
    width: 100%;
    height: auto;
}

.img1{
  width: 100%;
  height: auto;
}

footer{
    display: flex;
    justify-content:space-between;
}


#skill{
    display: flex;
}
.skilllist{
display: list-item;
}

.shenyu_photo{
    max-width: 100px;
}
